USE TSQL2012
GO

--CREATE PROCEDURE  [dbo].[SP_FillDimDate] AS 

DROP TABLE IF EXISTS [DimDate]
GO
CREATE TABLE [DimDate](
	[DateKey] [int] NOT NULL,
	[GregorianDate] [date] NULL,
	[YearGregorian] [int] NULL,
	[YearMonthG] [int] NULL,
	[MonthGregorian] [int] NULL,
	[DayofMonthG] [int] NULL,
	[MonthNameG] [nvarchar](30) NULL,
	[QuarterNumberG] [int] NULL,
	[DayofWeekG] [int] NULL,
	[DayofYearG] [int] NULL,
	[WeekofYearG] [int] NULL,
	[WeekDayName] [nvarchar](30) NULL,
	[DateNumberP] [int] NULL,
	[DateP] [nvarchar](150) NULL,
	[YearP] [int] NULL,
	[YearMonthP] [int] NULL,
	[MonthP] [smallint] NULL,
	[DayP] [smallint] NULL,
	[QuarterNumberP] [int] NULL
) 
GO


DECLARE @start DATE ='2000-01-01'
DECLARE @end DATE ='2010-12-30'
WHILE (@start<=@end)
BEGIN
SET NOCOUNT ON
INSERT INTO DimDate
SELECT FORMAT(@start, 'yyyyMMdd') DateKey, 
       CAST(@start AS DATE) GregorianDate, 
       YEAR(@start) YearGregorian, 
       LEFT(FORMAT(@start, 'yyyyMMdd'), 6) YearMonthG, 
       MONTH(@start) MonthGregorian, 
       DAY(@start) DayofMonthG, 
       DATENAME(MONTH, @start) MonthNameG, 
       DATEPART(QUARTER, @start) QuarterNumberG, 
       DATEPART(WEEKDAY, @start) DayofWeekG, 
       DATEPART(DAYOFYEAR, @start) DayofYearG, 
       DATEPART(WEEK, @start) WeekofYearG, 
       DATENAME(WEEKDAY, @start) WeekDayName, 
       FORMAT(@start, 'yyyyMMdd', 'fa-IR') DateNumberP, 
       FORMAT(@start, 'yyyy-MM-dd', 'fa-IR') DateP, 
	   LEFT(FORMAT(@start, 'yyyy-MM-dd', 'fa-IR'),4)YearP,
       LEFT(FORMAT(@start, 'yyyyMMdd', 'fa-IR'), 6) YearMonthP, 
       CAST(RIGHT(LEFT(FORMAT(@start, 'yyyyMMdd', 'fa-IR'), 6), 2) AS SMALLINT) MonthP, 
       CAST(RIGHT(FORMAT(@start, 'yyyyMMdd', 'fa-IR'), 2) AS SMALLINT) DayP,
       CASE
           WHEN CAST(RIGHT(LEFT(FORMAT(@start, 'yyyyMMdd', 'fa-IR'), 6), 2) AS SMALLINT) BETWEEN 1 AND 3
           THEN 1
           WHEN CAST(RIGHT(LEFT(FORMAT(@start, 'yyyyMMdd', 'fa-IR'), 6), 2) AS SMALLINT) BETWEEN 4 AND 6
           THEN 2
           WHEN CAST(RIGHT(LEFT(FORMAT(@start, 'yyyyMMdd', 'fa-IR'), 6), 2) AS SMALLINT) BETWEEN 7 AND 9
           THEN 3
           WHEN CAST(RIGHT(LEFT(FORMAT(@start, 'yyyyMMdd', 'fa-IR'), 6), 2) AS SMALLINT) BETWEEN 10 AND 12
           THEN 4
       END AS QuarterNumberP
SET @start=DATEADD(DAY,1,@START)
END
